In [1]:

s = set()
print(s, type(s))

set() <class 'set'>

In [2]:
mys = {"Murad", "Hassan", "tohamy", "Ahmed", "Ahmed", "Ahmed", 324, "Mina",
       "Samy", ('python', "Mysql", "bash"), True}
print(mys, type(mys))

{True, 324, 'Ahmed', 'Samy', 'Murad', 'Hassan', ('python', 'Mysql', 'bash'), 'tohamy', 'Mina'} <class 'set'>

In [3]:
print(324 in mys)

True

In [4]:
for item in mys:
    print(item)

True
324
Ahmed
Samy
Murad
Hassan
('python', 'Mysql', 'bash')
tohamy
Mina

In [5]:
mys.add("abc")
print(mys)

{True, 324, 'abc', 'Ahmed', 'Samy', 'Murad', 'Hassan', ('python', 'Mysql', 'bash'), 'tohamy', 'Mina'}

In [6]:
mys.appent("noha")

AttributeError: 'set' object has no attribute 'appent'

In [7]:
print(mys)

{True, 324, 'abc', 'Ahmed', 'Samy', 'Murad', 'Hassan', ('python', 'Mysql', 'bash'), 'tohamy', 'Mina'}

In [8]:
popped_item=mys.pop()
print(popped_item, mys)

True {324, 'abc', 'Ahmed', 'Samy', 'Murad', 'Hassan', ('python', 'Mysql', 'bash'), 'tohamy', 'Mina'}

In [9]:
mys.remove("Hassan")

In [10]:
print(mys)

{324, 'abc', 'Ahmed', 'Samy', 'Murad', ('python', 'Mysql', 'bash'), 'tohamy', 'Mina'}